.container {
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: -150px;
}

.chat-messages {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	min-height: 100px;
 }
 
 .message {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f1f1f1;
	border-radius: 5px;
 }

 .row {
	flex-wrap: nowrap !important;
 }

 .chat-page {
	height: 100vh;
 }

 .login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: -150px;
 }

 .navbar {
	display: flex;
	justify-content: space-between;
 }

 .navbar-brand {
	margin-left: 30vh;
 }

 .logout-button {
	margin-right: 30vh;
 }

 .add-channel-button {
	font-weight: bold;
   font-size: large;
 }

 .login-form {
	min-width: 20vw;
 }